body {
	background-size: cover;
	background-color: black;
}

nav, footer, h2 {
	font-family: 'Rakkas', cursive;
}

.navbar-brand {
	font-size: 45px;
}

.navbar-inverse .navbar-brand {
  color: white;
}

#contact {
	font-size: 18px;
}

.jumbotron {
   background: rgba(255, 255, 255, 0.7); 
   text-align: center;
   font-family: 'Helvetica', sans-serif;
   margin-top: 50px;
   padding-top: .5px;
}

footer.page-footer {
	text-align: center;
	font-size: 18px;
}

.tooltip-inner {
    white-space:pre;
    max-width: none;
}

.page-header p {
	font-size: 11px;
}

.mobile-show {
	display: none;
}

	@media only screen

	and (min-device-width
: 320px)

	and (max-device-width
: 480px){ .mobile-show {
		display: inline;
		}}

.news-container {
	text-align: center;
	color: rgba(255, 255, 255, 0.7);
	margin-top: 15px;
}

.news-container .row {
	font-size: 18px;
}

